<div class="dbpv-paginator" ng-show="showPaginator">
						<div ng-show="showLeftNav">
							<button class="btn btn-block-primary btn-small btn-show-left dbpv-btn" ng-click="onShowLeft()">
						PREVIOUS
							</button>
						</div>
						<div ng-show="!showLeftNav">
							<button class="btn btn-block-primary btn-small btn-show-left dbpv-btn" disabled="disabled">
						&nbsp
							</button>
						</div>
						<div ng-show="showPaginator">
							<div class="rev-paginator">PAGE:
								<input class="form-control dbpv-input dbpv-filter rev-paginator-page" ng-model="pagedis" ng-enter="changePage()"/>/{{pages+1}} 
								<button class="btn dbpv-btn btn-block-primary btn-small" ng-click="changePage()">
								GO
								</button>
							</div>
						</div>
						<div ng-show="showRightNav">
					<button class="btn btn-block-primary btn-small btn-show-right dbpv-btn" ng-click="onShowRight()">
					NEXT
							</button>
						</div>
						<div ng-show="!showRightNav">
							<button class="btn btn-block-primary btn-small btn-show-right dbpv-btn" disabled="disabled">
					&nbsp
							</button>
						</div>
					</div>