<span><span ng-hide="group">
	<a href="javascript:void(0);" title="{{action.description}}" ng-click="action.execute(about, predicate, value);"> 
		<span ng-bind-html="action.display();"></span> 
	</a>
</span>
<span class="dropdown" ng-show="group">
	<a role="button" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" title="{{action.description}}"> 
		<span ng-bind-html="action.display();"></span> 
	</a>
	<ul class="dropdown-menu action-group" role="menu">
		<li ng-repeat="act in action.actions">
			<a href="javascript:void(0);" title="{{act.description}}" ng-click="act.execute(about, predicate, value);"> 
				<span ng-bind-html="act.display();"></span> 
			</a>
		</li>
	</ul>
</span></span>